/* Regular Style */
@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  src: url('../fonts/NotoSansKR-Regular.ttf');
}

/* Bold Style */
@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  src: url('../fonts/Pretendard-Bold.ttf');
}

@font-face {
  font-family: 'Noto Sans', Pretendard;
  src: url('../fonts/NotoSansKR-Regular.ttf');
}

@font-face {
  font-family: '나눔명조', Pretendard;
  src: url('../fonts/NanumMyeongjo.ttf');
}

@font-face {
  font-family: '나눔손글씨 손편지체', Pretendard;
  src: url('../fonts/NanumSonPyeonJiCe.ttf');
}

body {
  font-family: 'Pretendard';
}
